:root {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #666;
  --bg-color: #fff;
  --heading-color: #3f3a64;
  --border-radius: 8px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f7f7f7;
  --bg-lightgrey: #f8f9fa;
  --layer: rgba(29, 42, 55, 0.7);
}

[data-theme="dark"] {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #c2c2c2;
  --bg-color: #151421;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-grey: #100f19;
  --bg-lightgrey: #100f19;
  --layer: rgba(29, 42, 55, 0.8);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

section {
  padding: 3em 0;
}

a {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-size: 1rem;
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 600;
}

a:hover,
a:focus {
  color: var(--heading-color);
  text-decoration: none;
  opacity: 1;
}

p,
span {
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

h1 {
  font-size: 2.125rem;
  line-height: 1.875;
  margin-bottom: 1.125rem;
  color: #e6e8f6;
  max-width: 800px;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 700;
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.875rem;
  letter-spacing: 1px;
  color: #7e7d7d;
}

h6 {
  font-size: 1.125rem;
  color: var(--heading-color);
  margin-bottom: 0.625rem;
  font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

i {
  color: var(--primary-color);
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.btn {
  padding: 0.75em 1.875em;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 600;
  margin-top: 1.5rem;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  border-radius: var(--border-radius);
  cursor: pointer;
}
a.btn:hover,
a.btn:focus {
  color: var(--primary-color);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff !important;
  background-color: #008030;
  border-color: #00732c;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff !important;
  background-color: #008030;
  border-color: #00732c;
}

body > a {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  color: white;
  opacity: 0;
  visibility: hidden;
}

body > a > i {
  color: #fff;
}

.visibleButton {
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 93%;
  margin: 0 auto;
  padding: 0;
}

#pushToTop {
  z-index: 100;
}
/* Header */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding: 1vh 2vw;
  align-items: center;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  background-color: transparent;
}

.header--active {
  background-color: rgb(0 0 0 /0.7);
}
.header--sticky {
  padding: 0 2vw;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

a.dropdown-toggle::after {
  display: none;
}

.navbar {
  padding: 0 0;
}

.navbar-brand {
  font-size: 1.625rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-brand i {
  margin-right: 0.3em;
  margin-top: 0.5em;
}

.navbar-brand span {
  display: block;
  text-transform: none;
  font-size: 0.875rem;
  padding-left: 2.875em;
  font-weight: 600;
  color: currentColor;
}

.navbar-collapse {
  flex-basis: 1 1;
  align-items: center;
}

a.nav-link,
a.nav-link span {
  color: #fff;
  opacity: 0.7;
  font-size: 0.9375rem;
  font-weight: 600;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-size: 1rem;
  text-decoration: none;
  opacity: 0.8;
}

a.nav-link:hover,
a.nav-link:hover span {
  color: #fff;
  opacity: 1;
}

.navbar-nav {
  justify-content: center;
  text-align: center;
  margin: 0 auto !important;
}

.mobile-position {
  position: absolute;
  top: 1.7rem;
  right: 3rem;
}

.header__search .search__icon {
  /* 2.8125 */
  line-height: 2.3rem;
  text-align: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--primary-color);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  border: none;
  cursor: pointer;
  margin-right: 1em !important;
  position: absolute;
  top: 1.4rem;
  right: 3.7rem;
}

.header__search i {
  color: #fff;
  transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}

.header__search form {
  position: absolute;
  top: 50%;
  /* left: 3.125em; */
  left: 1.5rem;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  color: #fff;
}

.header__search form input {
  color: #fff !important;
  font-size: 3.375rem;
  border: 0;
  pointer-events: none;
  background: transparent !important;
  box-sizing: border-box;
  outline: 0;
  font-weight: 300;
  margin-top: 4em;
  width: 100%;
  /* margin-top: -2em ; */
}
.header__search form input::placeholder {
  color: #fff;
}

.header__search form input:focus {
  box-shadow: initial;
}

.header__search > i {
  position: absolute;
  color: #fff !important;
  cursor: pointer;
  font-size: 4.375rem;
  opacity: 0;
  right: 0.75em;
  top: 1em;
  background-color: transparent;
  z-index: 101;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

/* search active */
.search--active {
  overflow: hidden;
}
.search__btn--active {
  position: fixed;
  width: 100%;
  transform: scale(80);
  z-index: 100;
}

.search__icon--active {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  overflow-y: hidden;
}

.searchForm--active {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 101;
}

.searchFormInput--active {
  opacity: 1 !important;
  transform: none;
  pointer-events: all !important;
}

.icon__close--active {
  opacity: 1 !important;
  transform: rotate(-90deg);
}

/* THEME
toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  position: relative;
}

.theme-switch input {
  display: none;
}
/*-- //toggle switch --*/
/*-- dark and light mode styling --*/
.mode-container {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 3px 0;
  text-align: center;
}

.fa-sun {
  display: none;
}

.fa-moon {
  display: inline-block;
}

input:checked + .mode-container i.fa-sun {
  display: inline-block;
}

input:checked + .mode-container i.fa-moon {
  display: none;
}

/* bars */
.navbar button i {
  background-color: var(--primary-color);
  color: #fff;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 4px;
}

button.navbar-toggler.collapsed .fa-bars {
  display: block;
}

button.navbar-toggler .fa-bars {
  display: none;
}

button.navbar-toggler .fa-times {
  display: block;
}

button.navbar-toggler.collapsed .fa-times {
  display: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 2px solid var(--border-color-light);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(0);
  background: var(--bg-color);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  color: var(--heading-color);
  margin: 0 auto;
}

a.dropdown-item {
  color: var(--heading-color);
  opacity: 0.8;
  font-weight: 600;
}

.dropdown-item:focus,
.dropdown-item:hover {
  opacity: 1;
  color: var(--heading-color);
  background-color: transparent;
}

/* Carousel */

.slider {
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.slider__overlay {
  background: var(--layer);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider__item {
  background: url(../images/b1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 35rem;
  display: flex !important;
  align-items: center;
  padding: 3em 0;
  position: relative;
  z-index: 3;
}

.slider__item--2 {
  background: url(../images/b2.jpg);
}
.slider__item--3 {
  background: url(../images/b3.jpg);
}
.slider__item--4 {
  background: url(../images/b4.jpg);
}

.slider__item .container {
  z-index: 2;
}
.slider__content {
  margin-top: 1rem;
}

.slider__content h1 {
  color: #fff !important;
  font-size: 1.75rem;
  max-width: 50rem;
  line-height: 1.2;
}

.slider__content p {
  color: #fff !important;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
  max-width: 40rem;
  opacity: 0.9;
}

.slider__path {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.slider__path path {
  fill: var(--bg-color);
}
.slider__list {
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: initial;
  bottom: 3rem;
  left: initial;
  right: 2rem;
  z-index: 4;
  color: var(--heading-color);
  opacity: 1;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  z-index: 12;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
  border: 1px solid var(--border-color);
}

.slick-arrow.slick-prev {
  right: 6rem;
}

.slick-arrow:hover,
.slick-arrow:focus,
.slick-arrow:active {
  color: currentColor;
  background-color: var(--bg-color);
}

.slick-arrow:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-align: center;
  line-height: 46px;
  color: var(--heading-color);
}
.slick-prev::before,
.slick-next::before {
  font-weight: 900;
  opacity: 1;
}

/* About */

.about__item a {
  color: var(--heading-color);
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
  position: relative;
}

.about__item a i {
  margin-right: 0.5em;
}

.about__right {
  margin-top: 2em;
  margin-bottom: 3em;
}

.about__right img {
  border-radius: 8px;
  margin-bottom: 0.8em;
}

/* features */

.features {
  background-color: var(--bg-grey);
}

.features__right,
.features__left {
  margin: 1.5em 0;
}

.features__right {
  padding: 0 2em;
}

.features__right div div img {
  display: block;
  text-align: center;
  margin: 1em auto;
}

.features__right div div {
  padding: 0.7em;
}

.features__right__content {
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: var(--bg-color);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  padding: 1em 0;
}

.features__right__content:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.features__right__content a:hover,
.features__right__content a:focus {
  color: var(--primary-color);
}

/* Services */

.services__item {
  margin: 1rem 0;
}

.services__top img {
  border-radius: 8px 8px 0 0;
}

.services__bottom {
  position: relative;
}

.services__bottom a:first-child {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--heading-color);
  text-align: center;
  background: var(--bg-color);
  padding: 0.75em 2.1875em;
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transform: translateY(-1.5625rem);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, 0);
}

.services__bottom p {
  margin-top: 2rem;
  padding-top: 1rem;
}

.services__bottom a {
  margin: 0;
}

/* Gallery */

.gallery {
  background-color: var(--bg-grey);
}

.gallery .row {
  margin-top: 3rem;
}

.gallery__item {
  margin-top: 2rem;
}

.gallery__content {
  overflow: hidden;
  position: relative;
}

.gallery__content a img {
  transform: scale(1);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.gallery__content a:hover img {
  transform: scale(1.2);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.item__overlay__content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.gallery__content:hover .item__overlay__content,
.gallery__content:focus .item__overlay__content {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.item__overlay__content span {
  color: #eee;
  display: block;
  text-align: left;
  font-size: 1.125rem;
}

.item__overlay__content span:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.625rem;
}

.item__overlay {
  background-color: rgb(0 0 0 /0.4);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.gallery__item:hover .item__overlay,
.gallery__item:focus .item__overlay {
  opacity: 1;
  visibility: visible;
}

.lb-data .lb-details {
  width: 90%;
  text-align: left;
  line-height: 1.1em;
  margin-top: 1em;
}

.lb-data .lb-caption {
  font-size: 1rem;
  line-height: 1.8em;
  color: #fff;
  font-weight: 600;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-top: 1em;
  font-size: 1em;
  color: var(--primary-color);
}

a.lb-close {
  margin-top: 1em;
}

.gallery__company {
  border-top: 1px solid var(--border-color-light);
  padding-top: 3rem;
  margin-top: 3rem;
}

/* stats */

.stats .row div img {
  border-radius: 8px;
}

.progress {
  height: 4px;
}

.progress__info h6 {
  display: flex;
  justify-content: space-between;
}

.progress__info h6 span {
  color: var(--heading-color);
}

.info1 h6 span {
  margin-right: 15%;
}

.info3 h6 span {
  margin-right: 35%;
}

.info4 h6 span {
  margin-right: 10%;
}

.info1,
.info2,
.info3,
.info4 {
  position: relative;
  margin-bottom: 1.875rem;
  text-align: left;
}

.info1 .progress-bar::before,
.info2 .progress-bar::before,
.info3 .progress-bar::before,
.info4 .progress-bar::before {
  height: 1.75rem;
  width: 1.75rem;
  border: 1px solid;
  opacity: 0.3;
}

.info1 .progress-bar::after,
.info2 .progress-bar::after,
.info3 .progress-bar::after,
.info4 .progress-bar::after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  background-color: var(--bg-color);
}

.info1 .progress-bar {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
  width: 80%;
}

.info2 .progress-bar {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
  width: 95%;
}

.info3 .progress-bar {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
  width: 60%;
}

.info4 .progress-bar {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
  width: 85%;
}

.info1 .progress-bar::after,
.info1 .progress-bar::before {
  content: "";
  position: absolute;
  right: 20%;
  top: 95%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.info2 .progress-bar::after,
.info2 .progress-bar::before {
  content: "";
  position: absolute;
  right: 5%;
  top: 95%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.info3 .progress-bar::after,
.info3 .progress-bar::before {
  content: "";
  position: absolute;
  right: 40%;
  top: 95%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.info4 .progress-bar::after,
.info4 .progress-bar::before {
  content: "";
  position: absolute;
  right: 15%;
  top: 95%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

/* Feedback */

.feedback {
  background: var(--bg-grey);
}
.feedback .container {
  max-width: 40rem;
}

.feedback .container > h2 {
  margin-bottom: 3rem;
}

.feedback__info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.feedback__info img {
  width: 5rem !important;
  height: 5rem;
  margin: 0;
  border-radius: 50%;
  margin-right: 1rem;
}

.feedback__info h4 {
  font-size: 1.25rem;
}

.feedback__info h4 p {
  margin: 0;
  padding: 0;
}

.owl-two.owl-theme .owl-dots .owl-dot span {
  background: var(--secondary-color) !important;
  opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 5px 2px;
  display: block;
  transition: all 0.5s ease;
  position: relative;
  opacity: 0.5;
  /* border-radius: var(--border-radius); */
  background-color: var(--secondary-color);
  transition: all 0.5s ease;
  transform: scale(0.7);
  margin: 0 0.4rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  transform: scale(1);
  background: var(--secondary-color) !important;
  opacity: 1;
}

/* Blog */
.blog .container > h3,
.blog .container > h2 {
  text-align: center;
}

.blog .container > h2 {
  margin-bottom: 3rem;
}

.blog__item {
  padding: 2rem 1rem;
}

.blog__item .card {
  border: none;
  background: none;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
  border: 1px solid var(--border-color);
}

.blog__item .card .card-header {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.blog__item .card .card-header a img {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transform: scale(1);
}

.blog__item .card:hover .card-header a img {
  transform: scale(1.2);
}

.blog__item .card .card-footer {
  background: none;
}

.blog__item .card .card-body a p {
  font-weight: 400;
}

.blog__item .card .card-body a h2 {
  font-size: 1.125rem;
  line-height: 1.625em;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.blog__item .card .card-body a:hover h2 {
  color: var(--primary-color);
}

.blog__item .card .card-footer a img {
  border-radius: 50%;
  margin-right: 0.5rem;
  margin: 0;
  display: inline;
}

.blog__item .card .card-footer a:hover {
  color: var(--primary-color);
}

/* Subscribe */
.subscribe {
  background: url(../images/map.png) no-repeat center;
  background-size: contain;
  background-color: #151421;
}

.subscribe .container > h2,
.subscribe .container > p {
  color: #fff;
  margin: 1.5rem auto;
  max-width: 40rem;
}

.subscribe__form {
  max-width: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.subscribe__form i {
  color: #999;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgba(255 255 255/0.3);
  border-right: none;
  padding: 14px 10px;
  font-size: 16px;
  line-height: 28px;
}

.subscribe__form input {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid var(--border-color-light);
  outline: none;
  width: 100%;
  background: var(--bg-color);
  border-radius: 0;
  color: #999;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.15);
  border-left: none;
  border: 1px solid rgba(255 255 255/0.3);
}

.subscribe__form button {
  margin: 0;
  border-radius: 0 8px 8px 0;
  font-size: 1rem;
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
}

/* Footer */
.footer {
  background-color: #151421;
  padding-top: 1rem;
  justify-content: flex-start;
  border-top: 1px solid rgb(255 255 255/0.2);
  border-bottom: 1px solid rgb(255 255 255/0.2);
}

.footer__item {
  margin: 1rem 0;
}

.footer__item .navbar-brand {
  padding: 0;
  margin-top: -1rem;
  margin-bottom: 1.3rem;
}

.footer__item a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff !important;
  opacity: 1;
}

.footer__item .navbar-brand span {
  text-transform: none;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
}

.footer__item h4 {
  font-size: 1.375rem;
  line-height: 1.75em;
  margin-bottom: 1.3rem;
  font-weight: 400;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.footer__item p,
.footer__item a,
.footer__item p a,
.footer__item div a i {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  font-weight: 400;
  opacity: 0.8;
}

.social__icon {
  margin-top: 1.5rem;
}

.social__icon a {
  margin-right: 1.5rem;
}

.social__icon a i,
.footer__item a,
.footer__item p a {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.social__icon a:hover i,
.footer__item p a:hover,
.footer__item ul li a:hover {
  color: #fff;
  opacity: 1;
}

.footer__item ul li {
  margin: 0.7rem 0;
}

.footer__copyright {
  margin: 0;
  text-align: center;
  background-color: #151421;
  padding: 1.5rem 1rem;
}

.footer__copyright p {
  align-self: center;
  color: #7f8a94;
  font-size: 17px;
  letter-spacing: 0.5px;
  opacity: 1;
  margin: 0;
}

.footer__copyright p a {
  color: var(--primary-color);
  font-weight: 400;
}

.footer__copyright p a:hover {
  color: #fff;
}

/* Responsive */
/* Html */
@media screen and (min-width: 576px) {
  .btn {
    padding: 0.9375rem 3.125rem;
  }
  h2 {
    font-size: 1.625rem;
    line-height: 2.375rem;
    margin-bottom: 1rem;
  }
  a {
    font-size: 1.125rem;
  }
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 2.1875rem;
    line-height: 2.8125rem;
    margin-bottom: 1.5rem;
  }
}
/* Header */
@media screen and (min-width: 576px) {
  .navbar .navbar-brand {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-30%);
  }
  .header__search .search__icon {
    right: 4rem;
  }
  .mobile-position {
    right: 2rem;
  }
}
/* Carousel */
@media screen and (min-width: 576px) {
  /* Carousel */
  .slider__content h1 {
    font-size: 2.5rem;
  }
  .slider__item {
    height: 40rem;
  }
}
@media screen and (min-width: 768px) {
  .slider__content h1 {
    font-size: 3.125rem;
  }
  .slider__item {
    height: 50rem;
  }
}
@media screen and (min-width: 992px) {
  .slider__content h1 {
    font-size: 3.4375rem;
  }
}
@media screen and (min-width: 1200px) {
  .slider__content {
    margin-top: -4.8rem;
    margin-left: 2rem;
  }
  .slider__content h1 {
    font-size: 4.0625rem;
  }
}

/* About */
@media screen and (min-width: 1200px) {
}

/* Features */
@media screen and (min-width: 576px) {
  .features__left a,
  .features__right a {
    margin-bottom: 1rem;
    display: inline-block;
  }
}

/* Services */
@media screen and (min-width: 576px) {
  .services .container {
    margin-top: 2rem;
  }
  .services .container .row {
    margin-top: 3rem;
  }
}

/* Blog */

@media screen and (min-width: 768px) {
  .blog__item .card .card-body a h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media screen and (min-width: 992px) {
  .blog__item .card a {
    font-size: 1rem;
  }
  .blog__item .card span {
    font-size: 0.9375rem;
  }
}

/* Footer */

@media screen and (min-width: 992px) {
  .footer__item p {
    max-width: 90%;
  }
}
